<!-- <app-navbar></app-navbar> -->
<div class="container">
    <div class="left-container">
        <div class="left-container-content">
            <div class="left-container-content-header">
                <h1>Connect with friends and the world around you on Facebook.</h1>
            </div>
            <div class="left-container-content-body">
                <img src="assets/UserIcons/5th.jpg" alt="Social Life" />
            </div>
        </div>
    </div>
    <div class="post-container">
        <app-create-post></app-create-post>
        <app-post class="post" *ngFor="let post of posts" [post]="post"></app-post>
        <div class="comment-wrapper">
            <div class="comment-container">
                <img src='assets/blank-profile.jpeg' class="user-icon">
                <div class="comment-body">
                    <span class="user-name">John Doe</span>
                    <span class="comment-text">This is a comment Lortis minima sit fugi.</span>
                </div>
                <button mat-icon-button [matMenuTriggerFor]="menu" class="menu-trigger">
                    <mat-icon>more_horiz</mat-icon>
                </button>
                <mat-menu #menu="matMenu" class="menu">
                    <button mat-menu-item class="menu-item">Reply</button>
                    <button mat-menu-item class="menu-item">Report</button>
                </mat-menu>
            </div>
            <div class="actions">
                <span class="action-item-span">3h ago</span>
                <a href="#" class="action-item">Like</a>
                <a href="#" class="action-item">Reply</a>
            </div>
        </div>
        <div class="replies-container">
            <div class="reply">
                <img src='assets/blank-profile.jpeg' class="user-icon">
                <div class="reply-body">
                    <span class="user-name">John Doe</span>
                    <span class="reply-text">This is a comment Lorem, ipsum dolor sit amees ut voluptatibus veritatis minima sissssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssst fugiat, fugit nemo accusamus enim ex voluptate optio.</span>
                </div>
                <button mat-icon-button [matMenuTriggerFor]="menu" class="menu-trigger">
                    <mat-icon>more_horiz</mat-icon>
                </button>
                <mat-menu #menu="matMenu" class="menu">
                    <button mat-menu-item class="menu-item">Reply</button>
                    <button mat-menu-item class="menu-item">Report</button>
                </mat-menu>
            </div>
            <div class="actions">
                <span class="action-item-span">February 24</span>
                <a href="#" class="action-item">Like</a>
                <a href="#" class="action-item">Reply</a>
            </div>
        </div>
    </div>
    <div class="right-container">
        <div class="right-container-content">
            <div class="right-container-content-header">
                <h1>Create an account</h1>
            </div>
            <div class="right-container-content-body">
                <app-sign-up></app-sign-up>
            </div>
        </div>
</div>
