/* carousel.component.css */
.carousel-wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    height: auto;
}

.carousel {
    position: relative;
    margin: auto;
    text-align: center;
    border-radius: 15px;
    width: 100%;
}


.carousel img,
.carousel video {
    display: block;
    border-radius: 15px;
    width: 500px;
    height: 400px;
    box-shadow: 0 8px 16px #dce1e1;

}

.carousel img.image-active{
    display: block;
    width: 500px;
    height: 400px;

}

.dot-container{
    position:absolute;
    right: 0;
    left: 0;
    bottom: 20px;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-bottom: 1rem;
}

.dot{
    height: 9px;
    width: 9px;
    margin: 0 5px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    transition: opacity 0.6s ease;
    opacity: 0.5;
}

.dot.active{
    opacity: 1;
    background-color: #e8e8e8;
}

.active
.dot:hover{
    opacity: 1;
}

.fade{
    animation-name: fade;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.btn-carousel{
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    padding: 0;
    color: #fff;
    text-align: center;
    background: 0 0;
    border: 0;
    cursor: pointer;
}

.btn-prev{
    left: 0;
}

.btn-next{
    right: 0;
}

.icon-carousel{
    opacity: 0.5;
    transition: all 0.15s ease;
}

.icon-carousel:hover{
    opacity: 0.9;
}

.icon-carousel:active{
    opacity: 0.5;
}

.icon-prev, .icon-next{
    font-size: 20px;
}

.caption-container{
    position: relative;
    top: 0;
    background-color: transparent;
}

.fade-left{
    animation-name: fade-left;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

@keyframes fade-left {
    from {opacity: .4; transform: translateX(-100%);}
    to {opacity: 1; transform: translateX(0);}
}

.fade-right{
    animation-name: fade-right;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

@keyframes fade-right {
    from {opacity: .4; transform: translateX(100%);}
    to {opacity: 1; transform: translateX(0);}
}

@media screen and (max-width: 500px) {
    .carousel img,
    .carousel video {
        width: 100%;
        height: 300px;
    }

    .carousel img.image-active{
        width: 100%;
        height: 300px;
    }
    
}

@media screen and (min-width: 501px) and (max-width: 1024px){
    .carousel img,
    .carousel video {
        width: 100%;
        height: 300px;
    }

    .carousel img.image-active{
        width: 100%;
        height: 300px;
    }
}