<div class="create-post-container">
    <div class="top-container">
        <app-user-icon class="icon"></app-user-icon>
        <div class="create-post" (click)="showDialog('normal')">What's on your mind?</div>
    </div>
    <hr style="width: 100%;margin: 5px;">
    <div class="button-container">
        <button mat-button class="button"  (click)="showDialog('normal')">Photo/Video</button>
        <button mat-button class="button"  (click)="showDialog('recipe')">Recipe</button>
        <button mat-button class="button"  (click)="showDialog('progress')">Progress</button>
    </div>
</div>

<p-dialog [(visible)]="visible" [modal]="true" [dismissableMask]="true" [responsive]="true"
    [draggable]="false" [resizable]="false" [closeOnEscape]="true" [showHeader]="false"
    [breakpoints]="
        { '960px': '100vw','300px':'100vw', '400px': '100vw', '500px': '100vw', '600px': '100vw', '700px': '100vw', '800px': '90vw', '900px': '90vw', '1000px': '90vw', '1100px': '80vw' }"
        
        [style]="{ 'width': '40vw' , 'height':'60vh' , 'overflow': 'hidden'}" 
        [contentStyle]="{ 'padding': '0' }"
        (drop)="allowDrop($event)" (dragover)="allowDrop($event)" (dragleave)="allowDrop($event)"
        (onHide)="resetMediaItems()"
        >
        <!-- NORMAL POST -->
    <div class="modal-container" *ngIf="normalPost"
        (drop)="onDrop($event)" (dragover)="onDragOver($event)"  (dragleave)="onDragLeave($event)"
        [class.dragover]="isDraggingOver"
        >
        <div class="header-container">
            <div class="title">Create Post</div>
            <button pButton class="close-button" (click)="closeModal()">
                <i class="material-icons">close</i>
            </button>
        </div>
        <div class="types-container">
            <button mat-button class="button" [class.active]="normalPost" (click)="showDialog('normal')">Photo/Video</button>
            <button mat-button class="button" [class.active]="recipePost" (click)="showDialog('recipe')">Recipe</button>
            <button mat-button class="button" [class.active]="progressPost" (click)="showDialog('progress')">Progress</button>
        </div>
        <div class="body-container">
            <div class="user-icon-container">
                <app-user-icon class="icon"></app-user-icon>
                <div class="user-name">John Doe</div>
            </div>
            <div class="text-area-container">
                <textarea pInputTextarea [(ngModel)]="body" class="text-area" placeholder="What's on your mind?"></textarea>
            </div>
            <div class="media-container">
                <div *ngFor="let item of mediaItems" class="preview-container">
                    <div *ngIf="item.type === 'image'">
                        <div class="image-wrapper">
                            <img [src]="item.url" class="preview-image" class="preview-image">
                            <div class="image-buttons">
                                <button mat-icon-button class="preview-action-button" (click)="removeItem(item)">
                                    <mat-icon style="color: black; font-size: 20px; text-align: center;">delete</mat-icon>
                                </button>
                                <button mat-icon-button class="preview-action-button" (click)="showFullScreen(item)">
                                    <mat-icon style="color: black; font-size: 20px; text-align: center;">fullscreen</mat-icon>
                                </button>
                            </div>
                        </div>                
                    </div>
                    <ng-container *ngIf="item.type === 'video/mp4' || item.type === 'video'">
                        <div class="video-wrapper">
                            <video controls class="preview-video">
                                <source [src]="item.url" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                            <div class="video-buttons">
                                <button mat-icon-button (click)="removeItem(item)">
                                    <mat-icon style="color: black; font-size: 20px; text-align: center;">delete</mat-icon>
                                </button>
                                <button mat-icon-button (click)="showFullScreen(item)">
                                    <mat-icon style="color: black; font-size: 20px; text-align: center;">fullscreen</mat-icon>
                                </button>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
        <div class="footer-container">
            <button mat-button class="footer-button" [disabled]="this.body===''" (click)="this.visible=false">Post</button>
        </div>
    </div>
    <!-- RECIPE POST -->
    <div class="modal-container" *ngIf="recipePost">
        <div class="header-container">
            <div class="title">Create Post</div>
            <button pButton class="close-button" (click)="closeModal()">
                <i class="material-icons">close</i>
            </button>
        </div>
        <div class="types-container">
            <button mat-button class="button" [class.active]="normalPost" (click)="showDialog('normal')">Photo/Video</button>
            <button mat-button class="button" [class.active]="recipePost" (click)="showDialog('recipe')">Recipe</button>
            <button mat-button class="button" [class.active]="progressPost" (click)="showDialog('progress')">Progress</button>
        </div>
        <div class="body-container">
            <div class="user-icon-container">
                <app-user-icon class="icon"></app-user-icon>
                <div class="user-name">John Doe</div>
            </div>
            <div class="text-area-container">
                <textarea pInputTextarea [(ngModel)]="body" class="text-area" placeholder="What's on your mind?"></textarea>
            </div>
            <div class="recipe-form-container">
                <form [formGroup]="recipeForm">
                    <div class="inputs-container">
                        <div class="left-container">
                            <h3 style="padding-left: 25px;">Recipe</h3>
                            <div  class="recipe-name-form-container">
                                <span>
                                    <input placeholder="Name" pInputText type="text" formControlName="name" class="recipe-name-form" required>
                                </span>
                            </div>
                            <div class="recipe-cook-time-form-container">
                                <span>
                                    <input placeholder="Cooking Time(min)" pInputText  type="text" formControlName="cookingTime" class="recipe-cook-time-form" required appIntegerOnly>
                                </span>
                            </div>
                            <div class="recipe-servings-form-container">
                                <span>
                                    <input placeholder="Servings" pInputText type="text" formControlName="servings" class="recipe-servings-form" required appIntegerOnly>
                                </span>
                            </div>
                            <div class="recipe-description-form-container">
                                <span>
                                    <textarea placeholder="Description" pInputTextarea type="text" formControlName="description" class="recipe-description-form" required></textarea>
                                </span>
                            </div>
                            <div class="recipe-instructions-form-container">
                                <span>
                                    <textarea placeholder="Instructions" pInputTextarea type="text" formControlName="instructions" class="recipe-instructions-form" required></textarea>
                                </span>
                            </div>
                        </div>

                        <!-- Other static fields -->
                        <div class="right-container">
                            <div class="ingredients-button">
                                <h3>Ingredients</h3>
                                <button pButton type="button" class="add-ingredient-button" (click)="addIngredient()">
                                    <i class="material-icons">add</i>
                                </button>
                            </div>
                            <div formArrayName="ingredients" class="ingredients-container">
                                <div *ngFor="let ingredient of ingredientForms.controls; let i = index" class="ingredient-row">
                                    <div [formGroupName]="i" class="ingredient-row-inner">
                                        <input pInputText type="text" class="ingredient-name" formControlName="name" placeholder="Name">
                                        <input pInputText type="text" class="ingredient-quantity" placeholder="Quantity">
                                        <input pInputText type="text" class="ingredient-unit" placeholder="Unit">
                                        <button pButton class="delete-ingredient-button" (click)="deleteIngredient(i)">
                                            <i class="material-icons" style="color: red; ;">delete</i>
                                    </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                    <div class="nutrition-value">
                        <input pInputText type="text" class="calories-input" placeholder="Calories" formControlName="calories">
                        <input pInputText type="text" class="protein-input" placeholder="Protein" formControlName="protein">
                        <input pInputText type="text" class="carbs-input" placeholder="Carbs" formControlName="carbs">
                        <input pInputText type="text" class="fat-input" placeholder="Fat" formControlName="fat">
                    </div>
                  </form>
            </div>
        </div>
        <div class="footer-container">
            <button mat-button class="footer-button" [disabled]="this.body===''" (click)="this.visible=false">Post</button>
        </div>
    </div>

    <!-- PROGRESS POST -->

    <div class="modal-container" *ngIf="progressPost">
        <div class="header-container">
            <div class="title">Create Post</div>
            <button pButton class="close-button" (click)="closeModal()">
                <i class="material-icons">close</i>
            </button>
        </div>
        <div class="types-container">
            <button mat-button class="button" [class.active]="normalPost" (click)="showDialog('normal')">Photo/Video</button>
            <button mat-button class="button" [class.active]="recipePost" (click)="showDialog('recipe')">Recipe</button>
            <button mat-button class="button" [class.active]="progressPost" (click)="showDialog('progress')">Progress</button>
        </div>
        <div class="body-container">
            <div class="user-icon-container">
                <app-user-icon class="icon"></app-user-icon>
                <div class="user-name">John Doe</div>
                <div class="card flex justify-content-center" style="z-index: 9999;">
                    <p-toast></p-toast>
                    <p-menu #menu [model]="postVisibilityOptions" [popup]="true"></p-menu>
                    <button pButton type="button" (click)="menu.toggle($event)" icon="pi pi-bars" label="Show"></button>
                </div>
                </div>
            <div class="text-area-container">
                <textarea pInputTextarea [(ngModel)]="body" class="text-area" placeholder="What's on your mind?"></textarea>
            </div>
        </div>
    </div>
</p-dialog>

<p-dialog [(visible)]="fullScreenVisible" [modal]="true" [dismissableMask]="true" [responsive]="true"
    [draggable]="false" [resizable]="false" [closeOnEscape]="true" [showHeader]="false"
    [breakpoints]="{ '960px': '50vw', '500px': '50vw' }"
    [style]="{ 'width': '50vw' , 'height':'70vh'}" 
    [contentStyle]="{ 'padding': '0' }">
    <div class="fullscreen-container">
        <div class="close-icon" (click)="fullScreenVisible = false">
            <button mat-button class="fullscreen-close-button">
                <mat-icon style="color:#fff;">close</mat-icon>
            </button>
        </div>
        <img *ngIf="fullScreenItem && fullScreenItem.type === 'image'" [src]="fullScreenItem.url" class="fullscreen-image">
        <video *ngIf="fullScreenItem && fullScreenItem.type === 'video/mp4'" controls class="fullscreen-video">
            <source [src]="fullScreenItem.url" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
</p-dialog>