<mat-card class="create-post-container">
    <mat-card-header>
        <app-user-icon></app-user-icon>
        <app-searchbar class="search-box" (textEvent)="getValue($event)" (keyup)="onKeyUp()" [button]="true"></app-searchbar>
        <!-- <form [formControl]="createPostForm" (ngSubmit)="onSubmit()">
            <input type="text" class="search-box" placeholder="What's on your mind?" pInputText formControlName="text" style="width: 450px; height: 40px; border-radius: 100px;  border-style: solid; border-width: thin; background-color:#F5F5F5; margin-left: 10px;"/>
        </form> -->
    </mat-card-header> 
    <mat-card-content>
        
    </mat-card-content>
</mat-card>