.container{
    width: 100%;
    max-width: 100%;
    border-radius: 15px;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 0 10px 0 #ccc;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.top-container{
    width: 100%;
    display: flex;
    align-items: center;
    padding-bottom: 5px;
}

.create-post{
    cursor: pointer;
    width: 90%;
    border: 1px solid #e0e0e0;
    margin-left: 15px;
    padding-left: 15px;
    border-radius: 15px;
}

.button-container{
    display: flex;
    justify-content: center;
    width: 100%;
}

.button{
    width: 33.33%;
    border-radius: 15px;
    padding: 10px;
}

.active{
    background-color: #007bff;
}

.modal-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    overflow: hidden;

}

.modal-container.dragover{
    background-color: #f0f0f0;
    border: 2px dashed #666;

}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    padding-right: 0;
}

.title{
    padding-left: 50px;
    font-size: 20px;
    font-weight: 600;
    color: #000;
    text-align: center;
    flex: 1;
}

.close-button{
    justify-self: end;
    margin-left: auto;
    margin-right: 0;
    padding-left: 10px;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    background-color: transparent;
}

.close-button:hover{
    background-color: #fff;
}

.types-container{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px 10px 20px 10px;
    align-items: center;
}

.user-icon-container{
    display: flex;
    justify-content: flex-start;
    padding-left: 5%;
    width: 100%;
}

.user-name{
    font-size: 20px;
    font-weight: 600;
    margin-left: 10px;
}

.body-container{
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: auto;
    max-height: 60vh;
}

.media-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 10px;
}

.preview-container {
    width: 33.33%;
    position: relative;
}

.preview-image{
    width: 100%;
    height: 200px;
    border-radius: 15px;
    border: 2px solid grey;
}

.preview-video{
    width: 100%;
    height: 200px;
    border-radius: 15px;
    margin-right: 10px;
    border: 2px solid grey;
}

.video-buttons{
    visibility: hidden;
}

.image-wrapper{
    margin: 0;
}

.image-buttons,
.video-buttons,
.image-buttons mat-icon {
    position: absolute;
    top: 0;
    right: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 5px; /* Adjust the padding as needed */
    z-index: 1; /* Ensure the buttons appear above the media */
}

.preview-action-button {
    visibility: hidden;
    width: 24px; /* Adjust the width of the button */
    height: 24px; /* Adjust the height of the button */
    margin: 2px; /* Adjust the margin as needed */
}

.image-wrapper:hover .preview-action-button, .video-wrapper:hover .video-buttons {
    visibility: visible;
}

.fullscreen-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.fullscreen-video,.fullscreen-image{
    width: 100%;
    height: 100%;
}

.fullscreen-close-button{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    color: #fff;
    z-index: 100;
    cursor: pointer;
}

.text-area{
    width: 95%;
    height: 100%;
    padding: 10px;
    margin-left: 2%;
    margin-right: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
    resize: none;
    margin-bottom: 10px;
    background-color: transparent;
}

.text-area:focus{
    box-shadow: none;
}

.text-area::placeholder{
    font-size: 20px;
    font-weight: 500;
    color: #000;
}

.footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
}

.footer-button{
    width: 90%;
    background-color: #f0f0f0;
}

/////////// RECIPE ///////////

.recipe-form-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
}

