<div class="container-login">
    <form [formGroup]="loginInfo" class="login-form">
        <div class="email" [class.invalid]="loginInfo.get('email')?.invalid && loginInfo.get('email')?.touched">
            <span class="p-input-icon-left">
                <i class="pi pi-user"></i>
                <input type="text" pInputText formControlName="email" placeholder="Email" />
            </span>
            <mat-error class="error-container" [ngClass]="{ 'hidden': loginInfo.get('email')?.valid || !loginInfo.get('email')?.touched }">
                <div *ngFor="let error of validationErrorMessages.email">
                    <span class="error-message" *ngIf="email?.hasError(error.type)">{{ error.message }}</span>
                </div>
            </mat-error>
        </div>
        <div class="password" [class.invalid]="password?.invalid && password?.touched">
            <span class="p-input-icon-left">
                <i class="pi pi-lock"></i>
                <input type="password" pInputText formControlName = "password" placeholder="Password"/>
            </span>
            <mat-error [ngClass]="{ 'hidden': loginInfo.get('password')?.valid || !loginInfo.get('password')?.touched }">
                <span class="error-message" >Password is required.</span>
            </mat-error>
        </div>
        <div *ngIf="logError"class="error-message">Mail and password are incorrect!</div>
        <a href="/auth/forgot-password" class="forgot-password">Forgot password?</a>
        <button pButton (click)="onSubmit()" class="submit">Login</button>
        <div style="padding-top: 10px; font-size: 14px;">Don't have an account?</div>
        <a href="/auth/register" class="signup">Create one</a>
    </form>
    <p-dialog *ngIf="emailError" header="Email not verified!" [(visible)]="!modalVisible" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false" [closable]="false" >
        <p class="m-0">
            Your email is not verified. Click ok to resend verification email.
        </p>
        <div class="button-container">
            <button pButton label="OK" (click)="resendEmail()" class="m-button"></button>
            <button pButton label="Cancel" (click)="cancel()" class="m-button"></button>
        </div>
    </p-dialog>
</div>

<!-- <div class="container">
    <div class="form-container">
        <form [formGroup]="loginInfo" class="login-form">
            <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com">
                <mat-icon matPrefix>people</mat-icon>
                <mat-error *ngIf="loginInfo.get('email')?.hasError('required')">
                    Email is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="loginInfo.get('email')?.hasError('email') && !loginInfo.get('email')?.hasError('required')">
                    Please enter a valid email address
                </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Password</mat-label>
                <input type="password" matInput formControlName="password" placeholder="Password">
                <mat-icon matPrefix>lock</mat-icon>
                <mat-error *ngIf="loginInfo.get('password')?.hasError('required')">
                    Password is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </form>
    </div>
</div> -->