<div class="comment-wrapper" *ngIf="comment.parentId === null">
    <div class="comment-container">
        <img src='assets/blank-profile.jpeg' class="user-icon">
        <div class="comment-body">
            <span class="user-name">{{comment.userName}}</span>
            <span class="comment-text">{{comment.body}}</span>
        </div>
        <button mat-icon-button [matMenuTriggerFor]="menu" class="menu-trigger">
            <mat-icon>more_horiz</mat-icon>
        </button>
        <mat-menu #menu="matMenu" class="menu">
            <button mat-menu-item class="menu-item">Reply</button>
            <button mat-menu-item class="menu-item">Report</button>
        </mat-menu>
    </div>
    <div class="actions">
      <div class="action-items">
        <span class="action-item-span">February 24</span>
        <a href="#" class="action-item">Like</a>
        <a href="#" class="action-item">Reply</a>
      </div>
      <div class="likes-count">
        <span class="likes-count-span">3</span>
        <mat-icon class="likes-count-icon">thumb_up</mat-icon>
      </div>
    </div>
</div>
<div class="replies-container">
    <div class="reply-wrapper" *ngFor="let reply of replies">
      <div class="iterate" *ngIf="reply.parentId === comment.commentId">
        <div class="reply">
          <img src="assets/blank-profile.jpeg" class="user-icon" />
          <div class="reply-body">
            <span class="user-name">{{ reply.userName }}</span>
            <span class="reply-text">{{ reply.body }}</span>
          </div>
          <button mat-icon-button [matMenuTriggerFor]="menu" class="menu-trigger-reply">
            <mat-icon>more_horiz</mat-icon>
          </button>
          <mat-menu #menu="matMenu" class="menu">
            <button mat-menu-item class="menu-item">Reply</button>
            <button mat-menu-item class="menu-item">Report</button>
          </mat-menu>
        </div>
        <div class="actions">
          <div class="action-items">
            <span class="action-item-span">February 24</span>
            <a href="#" class="action-item">Like</a>
            <a href="#" class="action-item">Reply</a>
          </div>
          <div class="likes-count">
            <span class="likes-count-span">3</span>
            <mat-icon class="likes-count-icon">thumb_up</mat-icon>
          </div>
        </div>
      </div> <!-- Closing the <div class="iterate"> block -->
    </div> <!-- Closing the <div class="reply-wrapper"> block -->
  </div> <!-- Closing the <div class="replies-container"> block -->
  