<!-- <div class="comment-container">
    <div class="user-info">
        <img class="user-icon" src="{{comment.userIconUrl}}" alt="User Icon">
        <span class="user-name">{{comment.userName}}</span>
    </div>
    <div class="comment-body">
        <p class="comment-text">{{comment.body}}</p>
        <div class="comment-details">
            <span class="comment-date">{{comment.createdAt}}</span>
            <span class="likes-count">{{comment.likesCount}}</span>
        </div>
    </div>
</div> -->

<mat-card class="comment-container" *ngIf="comment.parentId === null">
    <mat-card-header>
        <img (click)="onReplyToCommentClick()" style="cursor: pointer;" src="{{comment.userIconUrl}}" onerror="this.onerror=null; this.src='assets/blank-profile.jpeg'" mat-card-avatar class="example-header-image"><img>
        <mat-card-title>{{comment.userName}}</mat-card-title>
        <mat-card-subtitle>{{calculateTimeSincePost(comment.createdAt)}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>This card indeterminates progress bar.</p>
      <p>{{comment.body}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button >SHARE</button>
    </mat-card-actions>
    <mat-card-footer *ngIf="replyToCommentVisible">
        <app-searchbar [button]="true" [placeholder]="'Write a reply...'" [userId]="1" [iconSrc]="'ss'"></app-searchbar>
    </mat-card-footer>
</mat-card>

<div class="replies-container" *ngIf="replies.length > 0" >
    <div class="reply" *ngFor="let reply of replies">
        <mat-card class="reply-card" *ngIf="reply.parentId === comment.commentId">
            <mat-card-header>
                <img (click)="onReplyClick()" style="cursor: pointer;" src="{{reply.userIconUrl}}" onerror="this.onerror=null; this.src='assets/blank-profile.jpeg'" mat-card-avatar class="example-header-image"><img>
                <mat-card-title>{{reply.userName}}</mat-card-title>
                <mat-card-subtitle>{{calculateTimeSincePost(reply.createdAt)}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>{{reply.body}}</p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button (click)="onReplyClick()">SHARE</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <!-- <app-user-icon *ngIf="replyFormVisible" ></app-user-icon> -->
    <app-searchbar *ngIf="replyFormVisible" [button]="true" [placeholder]="'Write a reply...'" [userId]="1" [iconSrc]="'ss'"></app-searchbar>
</div>




