<div [formGroup]="textGroup" class="group" (keyup)="returnValue()">
    <app-user-icon *ngIf="userId !== 0" [iconURI]="iconSrc" [userID]="userId" (userIconClick)="iconClick()" ></app-user-icon>
    <input *ngIf="!textArea" type="text" class="search-box" placeholder="{{placeholder}}" pInputText formControlName="textForm" style="margin: 0;"/>
    <textarea *ngIf="textArea" placeholder="What's on your mind?" rows="1" cols="30" [autoResize]="false" pInputTextarea class="search-box"></textarea>
    <button *ngIf="button" class="send-button" (click)="buttonClick()" style="margin-top: 4px;">
        <mat-icon>send</mat-icon>
    </button>
</div>

