<div class="container-change-password" *ngIf="validToken">
    <div class="form-container" [formGroup]="newPasswordForm">
        <form>
            <h1>Change Password</h1>
            <h3 style="color: green;" *ngIf="changed">Password changed successfully!</h3>
            <br>
            <span class="p-float-label">
                <input type="password" id="newPassword" style="width: 100%;" pInputText formControlName="password">
                <label for="newPassword">New Password</label>
            </span>
            <div class="error-messages">
                <div class="container-error" *ngFor="let error of errorMessages.newPassword">
                    <div class="error-message" *ngIf="newPasswordForm.get('password')?.hasError(error.type) && (newPasswordForm.get('password')?.dirty || newPasswordForm.get('password')?.touched)">
                        {{ error.message }}
                    </div>
                </div>
            </div>
            <span class="p-float-label">
                <input type="password" id="confirmPassword" style="width: 100%;" pInputText formControlName="confirmPassword">
                <label for="confirmPassword">Confirm Password</label>
            </span>
            <div class="error-messages">
                <div class="container-error" *ngFor="let error of errorMessages.confirmPassword">
                    <div class="error-message" *ngIf="newPasswordForm.get('confirmPassword')?.hasError(error.type) && (newPasswordForm.get('confirmPassword')?.dirty || newPasswordForm.get('confirmPassword')?.touched)">
                        {{ error.message }}
                    </div>
                </div>
            </div>
            <div *ngIf="newPasswordForm.get('password')?.valid && newPasswordForm.get('confirmPassword')?.valid && validatePassword()">
                <div class="error-message">
                    Passwords do not match!
                </div>
            </div>
            <div class="button-container">
                <p-button label="Back" (onClick)="back()"></p-button>
                <p-button label="Change" class="send-button" [disabled]="!newPasswordForm.valid || changed" (onClick)="onSubmit()"></p-button>
            </div>
        </form>
    </div>
</div>

<app-page-not-found *ngIf="!validToken"></app-page-not-found>

