<div class="container-change-password" *ngIf="validToken">
    <div class="form-container" [formGroup]="newPasswordForm">
        <form>
            <h2>Change Password</h2>
            <div class="password">
                <span class="p-float-label">
                    <input [class.invalid]="password?.invalid && password?.touched" type="password" id="password" style="width: 100%;" pInputText formControlName="password">
                    <label for="password">New Password</label>
                </span>
                <div class="error-messages">
                    <div class="container-error" *ngFor="let error of errorMessages.password">
                        <div class="error-message" *ngIf="password?.hasError(error.type) && (password?.dirty || password?.touched)">
                            {{ error.message }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="confirm-password">
                <span class="p-float-label" >
                    <input [class.invalid]="confirmPassword?.invalid && confirmPassword?.touched " type="password" id="confirmPassword" style="width: 100%;" pInputText formControlName="confirmPassword">
                    <label for="confirmPassword">Confirm Password</label>
                </span>
                <div class="error-messages">
                    <div class="container-error" *ngFor="let error of errorMessages.confirmPassword">
                        <div class="error-message" *ngIf="confirmPassword?.hasError(error.type) && (confirmPassword?.dirty || confirmPassword?.touched)">
                            {{ error.message }}
                        </div>
                    </div>
                    <div class="success-message" *ngIf="changed">
                        Your password has been changed successfully!
                    </div>
                </div>
            </div>
            <div class="button-container">
                <button pButton label="Back" class="back-button" (click)="back()"></button>
                <button pButton label="Change" class="send-button" [disabled]="!newPasswordForm.valid || changed" (click)="onSubmit()"></button>
            </div>
        </form>
    </div>
</div>

<app-page-not-found *ngIf="!validToken"></app-page-not-found>

