<div class="page-container">
    <div class="form-container">
        <form [formGroup] ="resetInfo">
        <h1>Forgot Password</h1>
        <p>Enter your email and we'll send you a link to get back into your account.</p>
        <h3 *ngIf="!found"></h3>
        <h3 style="color: green;" *ngIf="sent">We sent you an reset password link! Please check your email!</h3>
        <br>
        <span class="p-float-label">
            <input type="text" id="email" style="width: 100%;" pInputText formControlName="email">
            <label for="email">Email</label>
        </span>
        <div class="button-container">
            <p-button label="Back" (onClick)="back()"></p-button>
            <p-button label="Send" class="send-button" [disabled]="!resetInfo.valid || sent" (onClick)="onSubmit()"></p-button>
        </div>
        </form>
    </div>
</div>