<div class="page-container">
    <div class="form-container">
        <form [formGroup] ="resetInfo" class="form">
            <h3>Forgot Password</h3>
            <p>Enter your email and we'll send you a link to get back into your account.</p>
            <br>
            <div class="email-input-container">
                <span class="p-float-label p-input-icon-left" style="width: 100%;">
                    <i class="pi pi-envelope"></i>
                    <input type="text" id="email" style="width: 100%;" pInputText formControlName="email">
                    <label for="email">Email</label>
                </span>
            </div>
            <div class="response-container">
                <div class="response" *ngIf="!found" style="color: red;">{{errorMessage}}</div>
                <div class="response" *ngIf="sent" style="color: green;">We sent you an reset password link! Please check your email!</div>
            </div>
            <div class="button-container">
                <button pButton label="Back" style="border-radius: 15px;" (click)="back()"></button>
                <button pButton label="Send" class="send-button" [disabled]="!resetInfo.valid || sent" (click)="onSubmit()"></button>
            </div>
        </form>
    </div>
</div>