.page-container{
    width: 100%;
    height: 100%;
    background-color:	 #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.form-container{
    width: 400px;
    height: 325px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.form{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.button-container{
    align-self: flex-end;
    justify-self: flex-end;
    display: flex;
    justify-content: flex-end; /* Align items to the end of the container */    
    align-items: flex-end;
    margin-top: 10%;
}
.send-button{
    margin: 0 10px;
    border-radius: 15px;
}

.email-input-container{
    width: 100%;
}

h3,p{
    display: flex;
    justify-content: center;
}

h3{
    margin-bottom: 5%;
    user-select: none;
}

.response-container{
    display: flex;
    height: 24px;
}

.response{
    font-size: 10px;
    font-weight: 600;
    text-align: center;
    user-select: none;
}


@media screen and (max-width: 768px){
    .form-container{
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
    .form{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .button-container{
        align-self: flex-end;
        justify-self: flex-end;
        display: flex;
        justify-content: flex-end; /* Align items to the end of the container */    
        align-items: flex-end;
        margin-top: 10%;
    }
    .send-button{
        margin: 0 10px;
        border-radius: 15px;
    }
    .email-input-container{
        width: 100%;
    }
    h2,p{
        display: flex;
        justify-content: center;
    }
    h3{
        margin-bottom: 15%;
    }

    
}

