<div class="card-wrapper">
  <div *ngIf="true">shared by</div>
  <button mat-icon-button [matMenuTriggerFor]="menu" class="top-right-link">
    <mat-icon>more_horiz</mat-icon>
  </button>
  <mat-menu #menu="matMenu" class="menu">
    <button mat-menu-item class="menu-item">Reply</button>
    <button mat-menu-item class="menu-item">Report</button>
  </mat-menu>
  <mat-card class="post-container">
    <mat-card-header>
        <img (click)="onUserClick()" style="cursor: pointer;" src="{{post.userIconUrl}}" mat-card-avatar class="example-header-image"><img>
        <mat-card-title (click)="onUserClick()" style="cursor: pointer;">{{post.userName}}</mat-card-title>
        <mat-card-subtitle>{{calculateTimeSincePost(post.postTime)}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div *ngIf="post.postImagesUrls">
        <p-carousel *ngIf="post.postImagesUrls.length === 1" [value]="post.postImagesUrls" [numVisible]="1" [numScroll]="1" [showIndicators]="false" [showNavigators]="false"  >
          <ng-template let-imageUrl pTemplate="item">
              <div class="border-1 surface-border border-round m-2 text-center py-5 px-3" style="width: 100%;">
                  <div class="mb-3">
                      <img (click)="onPostClick()" src={{imageUrl}} class="w-6 shadow border-round" style="overflow: hidden; background-repeat: no-repeat; height: 100%; width: 100%; cursor: pointer;max-height: 400px;"/>
                    </div>
              </div>
          </ng-template>
        </p-carousel>
        <p-carousel *ngIf="post.postImagesUrls.length > 1" [value]="post.postImagesUrls" [numVisible]="1" [numScroll]="1" >
          <ng-template let-imageUrl pTemplate="item">
              <div class="border-1 surface-border border-round m-2 text-center py-5 px-3" style="width: 100%;">
                  <div class="mb-3" >
                      <img (click)="onPostClick()" src={{imageUrl}} class="w-6 shadow-2" style="overflow: hidden; background-repeat: no-repeat; height: 100%; width: 100%; cursor: pointer; max-height: 400px;"/>
                  </div>
              </div>
          </ng-template>
        </p-carousel>
      </div>
      <p *ngIf="post.postContent.length > 125 && !showFullPost">
        {{ post.postContent | readMore }}
        <a (click)="showFullPost = true" style="cursor: pointer;">Read more</a>
      </p>
      <p *ngIf="post.postContent.length <= 125 || showFullPost">
        {{ post.postContent }}
      </p>
      <div class="count-container">
        <div class="likes-count">
          <span>{{post.likesCount}} likes</span>
        </div>
        <div class="comments-count">
          <span>{{post.commentsCount}}3 comments </span>
        </div>
        <div class="shares-count">
          {{post.sharesCount}}9 shares
        </div>
      </div>
      <hr>
    </mat-card-content>
    <mat-card-actions>
        <div class="actions-container">
          <div class="item">
            <mat-icon (click)="onLikeClick()" class="action-item" color="warn">thumb_up</mat-icon>
            <span>Like</span>
          </div>
          <div class="item" (click)="onCommentClick()">
            <mat-icon (click)="onCommentClick()" class="action-item" color="warn">comment</mat-icon>
            <span>Comment</span>
          </div>
          <div class="item">
            <mat-icon (click)="onShareClick()" class="action-item" color="warn">share</mat-icon>
            <span>Share</span>
          </div>
        </div>
    </mat-card-actions>
    <mat-card-footer *ngIf="showComments">
        <app-searchbar [userId]="1" [iconSrc]="'s'" [placeholder]="'What\'s on your mind?'" (textEvent)="getCommentFormValue($event)" [button]="true" (buttonEvent)="onCommentSubmit()"></app-searchbar>
        <div>
          <app-comment *ngFor="let comment of comments" [comment]="comment" [replies]="comments"></app-comment>
        </div>
        <a>Load more comments</a>
    </mat-card-footer>
  </mat-card>
</div>
