.social-media-post {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .user-info {
    display: flex;
    align-items: center;
  }
  
  .user-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .post-time {
    margin-left: auto;
  }
  
  .post-content {
    margin-top: 10px;
  }
  
  .actions {
    margin-top: 10px;
  }
  
  .actions button {
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 10px;
  }

  .action-item {
    margin-left: .5em;
    cursor: pointer;
    color: #007bff;
    transition: transform 0.3s ease; /* Add transition property for smooth animation */

}

.action-item:hover {
  color: #007bff;
  transition-delay: 0.7s; /* Add a delay of 1 second before the transition starts */
  transform: scale(1.2); /* Scale the icon to 1.2 times its original size */
}


.profileIcon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.post-container{
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f5f5f5;
}

.count{
  padding-left: 5px;
  text-decoration: none !important;
  color: black;
}

.send-comment{
  border: none;
  background: none !important;
}

.comment-form.container{
  border-radius: 20px;
}

.comment-form{
  background-color: green;
  border-radius: 20px;
  width: 95%;
}

.comment-section{
  width: 100%;
}

.user-avatar{
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

